body{
    background-image: url('tlo_strony.jpg');
}

#container{
    justify-content: center;
    flex-wrap:wrap;
    display:flex;
    flex-direction: column;


    /*font-honk*/
    font-family: "Honk", system-ui;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
    "MORF" 130,
    "SHLN" 50;
}


#content{
    /* max-width: 1200px; */
    justify-content:center; 
    display:flex;
    flex-direction: column;
    gap:10px;
}

a{
    text-decoration: none;
}

.tile{
    font-size:50px;
    color:white;
    background-color: aqua;
    border-radius:20px;
    padding: 20px;
    width:340px;
    height:240px;
    display: grid; 
    place-items: center;
    letter-spacing: 5px;
    box-shadow: 10px 5px 5px black;

    /*gradient*/
    background: #c39322;
    background: linear-gradient(0deg, rgba(195, 147, 34, 1) 0%, rgba(253, 45, 215, 1) 100%);
}

.tile:hover{
    font-size:70px;
    transition-duration:1.5s;
    box-shadow: 10px 5px 5px white;
    scale:1.1;
}

#title{
    font-size:100px;
    gap:10px;
    text-align:center;
    letter-spacing: 15px;
    border-radius: 50px;
}

#footer{
    font-size:20px;
    margin: auto;
    text-align:center;
    clear:both;
}

td, th{
    border:1px solid black;
    border-collapse: collapse;
    width: 10%;
}

.ad{
    border-collapse: collapse;
    max-width: 200px;
    height: 600px;
    border-radius: 7px;
}

#row1{
    justify-content: center;
    display: flex;
    flex-direction: row;
    gap:10px;
    flex-wrap:  wrap;
    margin:10px;
}

nav{
    position:sticky;
    background-color:blueviolet;
    text-align:center;
    font-size: 40px;
    padding:10px;
    letter-spacing: 3px;
    border-radius: 10px;
    gap:15px;
    width:100%
}

nav:hover{
    scale:1.1;
    transition-duration: 1.5s;
}

input{
    border-radius: 20px;
    border: 2px solid darkblue;
    padding: 5px;
    font-family:"Lato", sans-serif;
    font-size: 15px;
}

textarea{
    font-size:20px;
    resize:none;
    margin-bottom:20px;
    padding:15px;
    border: 2px solid darkblue;
    border-radius: 20px;
}

legend{
    font-size: 30px;
    color: black;
    margin-left: auto;
    margin-right: auto;
}

fieldset{
    margin-top: 100px;
    align-content: center;
    /* border:none; */
    /* border-top: 1px solid darkblue */
    border: 2px dashed darkblue;
}

label{
    display:block;
    text-align:center;
    font-size:20px;
}

input,label,textarea,#btnSubmit{
  
    margin-bottom: 20px;
    width:90%;
    margin-left: 5%;
}

#polsat{
    display:flex;
    justify-content:center;
}

audio{
    border: 4px solid darkblue;
    border-radius:30px;
}

#btnSubmit:hover{
    opacity: 0.8;
    cursor:pointer;
    animation: pulsowanie 1.5s infinite;
}

@keyframes pulsowanie{
    0%{
        scale:1;
        background-color:darkblue
    }
    50%{
        scale:1.1;
        background-color: cyan
    }
    100%{
        background-color: darkblue;
        scale:1;
    }
}

@keyframes kolory{
    0%{
        background-color:darkblue
    }
    50%{
        background-color: cyan
    }
    100%{
        background-color: darkblue;
    }
}

/* a{
    animation: kolory 2s infinite;
} */

@keyframes handShake{
    from{
        left: -10px;
    }
    to{
        left:10px;
    }
}

#container{
    position: relative;
    animation: handShake 1.5s infinite alternate;
}